.banner-search-form {
    box-shadow: 0px 4px 10px 0px rgba(49, 12, 2, 0.06);
    max-width: 770px;
    margin: 0 auto;
    display: flex;
    background: #fff;
    border-radius: 30px;
}

.banner-search-form input {
    width: 100%;
    background: transparent;
    border: 0;
    padding: 0 !important;
    /* height: 60px; Removed to allow auto-grow */
}

.conversation-container {
  max-width: 770px;
}

.search-input {
  background: transparent;
  padding: 0px 30px 0px 30px;
  /* height: 60px; Removed to allow auto-grow */
  width: 100%;
}

.search-input p {
  margin-bottom: 0;
}

.search-input .MuiOutlinedInput-root {
  border: 0;
  /* height: 60px; Removed to allow auto-grow */
}

.search-input .MuiAutocomplete-root {
  width: 100% !important;
}

.search-input .MuiOutlinedInput-notchedOutline {
  border: 0 !important;
}

.search-input .MuiInputBase-root {
  padding: 0 !important;
}

.search-input .MuiInputBase-input {
  padding: 0;
  height: 100%;
}

.MuiPopper-root {
  top: 0;
}